@font-face {
    font-family: CondLightItalic; /* Имя шрифта */
    src: url(OpenSans-CondLight.ttf); /* Путь к файлу со шрифтом */
   }

h1, h2, h3, h4 {
		font-family: 'CondLightItalic', Verdana, sans-serif;
}

#wrapp {
	width: 60%;
	margin: 0 auto;
}

header {
	height: 200px;
	#menu {
		display: inline-block;
		margin-left: 20px;
		a {
			color: #0ba5b7;
			:hover{
				text-decoration: underline;
			}
		}
		span {
			display: inline-block;
			font-family: 'Arial';
			margin-right: 3px;
		}
	}
	h1 {
		font-size: 4.5em;
		line-height: 1.337;
  		display: inline-block;
  		white-space: nowrap;
  		margin-top: 60px;
  		a {
  			color: #000000;
  			text-decoration: none;
  		}
	}
}

h2 {
	font-size: 3em;
	line-height: 1.17;
	padding: 10px;
	padding-left: 0;
	a {
		color: #0ba5b7;
		text-decoration: none;
		&:hover {
			color: tomato;
		}
	}
}

article {
	margin-bottom: 70px;
	p {
		font-size: 1.125rem;
  		line-height: 1.6;
  		font-family: 'Arial';
	}

	.info {
		font-style: italic;
		margin-top: 10px;
		span:first-child {
			color: #ccc;
		}
		:nth-child(2) {
			margin-left: 30px;
		}
	}
}

#page h2 {
	font-size: 4em;
	color: #0ba5b7;
}

#page h3 {
	font-size: 3em;
	color: #0ba5b7;
	padding: 30px 0;
}

#page h4 {
	font-size: 2em;
	color: #0ba5b7;
	padding-bottom: 20px;
}

#page p {
	margin: 20px 0;
}

pre code {
	margin: 0 0 16px;
    margin: 0 0 1rem;
    display: block;
    padding: 16px 1.63934426%;
    padding: 1rem 1.63934426%;
    overflow: auto;
    white-space: pre;
}

code {
    text-shadow: 0 1px 0 #fff;
    display: inline-block;
    white-space: pre-wrap;
    color: #444;
    padding: 0 4px;
    padding: 0 .25rem;
    background-color: #f7f2ed;
    font-family: 'Meslo Light Regular', 'Menlo', Consolas, Monaco, 'Andale Mono', monospace;
    .keyword {
    	color: #8959a8;
    }
    .title {
    	color: #e97f00;
    }
}


@media  (min-device-width : 200px) and (max-device-width : 700px) 
{
	body {
		width: 100%
	}
	#wrapp {
		width: 100%;
		section {
			margin: 10px;
		}
	}
}
